.content-area {
    height: 90vh;
    background-image: url('https://nyc3.digitaloceanspaces.com/dreamsengine/playcity/resources/uploads/2019/06/26204601/play-city-acoxpa_54.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgba(151,97,37,.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.container h4{
    color: #fff;
    font-family: Lato,sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.container a {
    color: #06465e;
    background-color: #fab451;
    padding: 1em 2em;
    border-radius: 15px;
    margin: 0 1em;
    font-weight: 700;
}

.btns{
    display: flex;
    justify-content: center;
}