.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar a{
    display: block;
}

.navbar img{
    width: 150px;
}